body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

a:hover,
a:focus,
a:active {
  color: #ffbc9e;
  border-color: rgba(255, 188, 158, 0.3);
}

.header__logo,
.main-products__link,
.footer__logo {
  border: none;
}

.main-menu,
.user-menu {
  list-style: none;
}

.main-menu {
  font-size: 16px;
  line-height: 18px;
}

.main-menu__link_catalog:hover,
.main-menu__link_catalog:focus, {
  color: #323232;
  border-radius: 25px;
  background-color: #f8f7f4;  
}

.main-menu__link_catalog:active {
  color: #323232;
  border-radius: 25px;
  background-color: #f8f7f4;  
  box-shadow: inset 0 2px 1px rgb(105, 105, 105);
}

.main-menu__link_active {
  color: #ffffff;
  border-radius: 25px;
  background-color: #d07058;
}

.user-menu {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-menu__link,
.filter__list {
  color: #ffffff;
  border-radius: 25px;
  background-color: #a1b4a9;
  border: none;
}

.user-menu__link:hover,
.user-menu__link:focus {
  background-color: #f8f7f4;  
  color: #323232;
}

.header-contacts__schedule {
	font-size: 14px;
  line-height: 16px;
}

.header-contacts__tel {
	font-size: 22px;
  line-height: 24px;
}

.carousel__item h3 {
  font-size: 60px;
  line-height: 60.35px;
} 

.carousel__button {
  font: inherit;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.offers__button,
.subscription__submit,
.contacts__link,
.login-form__button,
.feedback-form__button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.carousel__button,
.offers__button,
.subscription__submit,
.contacts__link,
.login-form__button,
.feedback-form__button {
  color: #ffffff;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border-radius: 25px;
  border-style: none;
}

.carousel__button:hover,
.carousel__button:focus,
.offers__button:hover,
.offers__button:focus,
.subscription__submit:hover,
.subscription__submit:focus,
.contacts__link:hover,
.contacts__link:focus,
.login-form__button:hover,
.login-form__button:focus,
.feedback-form__button:hover,
.feedback-form__button:focus {
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
  background: linear-gradient(to top, #ec6f5d 0%, #f58569 100%);
}

.carousel__button:active,
.offers__button:active,
.subscription__submit:active,
.contacts__link:active,
.login-form__button:active,
.login-form__button:active,
.feedback-form__button:active {
  box-shadow: inset 0 2px 2px rgba(148, 39, 24, 1);
  color: #ffffff;
  background: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.subscription__form input,
.feedback-form input,
.feedback-form textarea {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.search-form input,
.login-form input {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.subscription__form input:hover,
.search-form input:hover,
.login-form input:hover,
.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.subscription__form input:focus,
.search-form input:focus,
.login-form input:focus,
.feedback-form input:focus,
.feedback-form textarea:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  outline: none;
}

.offers__list {
  list-style: none;
}

.offers__item h3 {
  font-size: 35px;
  line-height: 41px;
}

.offers__item p {
  font-size: 18px;
  line-height: 22px;
}

.offers__button {
  font: inherit;
  font-size: 18px;
  line-height: 24px;
}

.main-products__list {
  list-style: none;
}

.main-products__item h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.main-products__price {
  font-size: 45px;
  line-height: 45px;
}

.main-products__price span {
  font-size: 30px;
} 

.features {
  color: #323232;
}

.features h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features__list {
  list-style: none;
}

.features__item {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.news {
  color: #323232;
}

.news p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.news a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  border-bottom: 1px solid rgba(50, 50, 50, 1);
}

.news a:hover,
.news a:focus {
  color: #e84d37;
  border-color: rgba(232, 77, 55, 0.3);
}

.subscription {
  color: #5a5a5a;
}

.contacts {
  color: #323232;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.contacts__address span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts__call {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.contacts__tel {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.contacts__tel span {
  font-size: 18px;
  font-weight: 700;
}

.social__list {
  list-style: none;
}

.footer-nav__list {
  list-style: none;
}

.footer-nav__item {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer-nav__item:first-child {
  font-weight: 700;
}

.footer__copyright {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.dropdown-catalog {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.catalog-menu {
  list-style: none;
}

.catalog-menu__link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  display: block;
  border: none;
}

.catalog-menu__link:hover,
.catalog-menu__link:focus {
  color: #323232;
  background-color: #fbded7;
}

.catalog-menu__link:active {
  background-color: #f6b5a5;
}

.catalog-menu__item:first-child .catalog-menu__link {
  font-weight: 700;
}

.catalog-menu__item:first-child {
  border-bottom: 1px solid #323232;
}

.modal-search {
  color: #323232;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.modal-login {
  color: #323232;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.login-form__link {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  border-bottom: 1px solid rgba(50, 50, 50, 1);
}

.login-form__link:hover,
.login-form__link:focus {
  color: #e84d37;
  border-color: rgba(232, 77, 55, 0.3);
}

.modal-feedback {
  color: #323232;
  background-color: #f8f7f4;
}

.modal-feedback__promise {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  background-color: #f8f7f4;
}


.breadcrumbs {
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.container h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.filter legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter__list {
  list-style: none;
}

.filter__button,
.filter__option label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filter__button {
  color: #ffffff;
  border-radius: 25px;
  background-color: #a1b4a9;
  border: none;
}

.filter__button:hover,
.filter__button:focus {
  color: #323232;
} 

.filter__button_submit {
  border: 2px solid #ffffff;
}

.filter__button_submit:hover
.filter__button_submit:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.filter__button_submit:active {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
  /*border: 2px solid #ededed;*/
}

.sort-dropdown {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background-color: #ffffff; 
}

.sort-dropdown__list {
  list-style: none;
}

.sort-dropdown__link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  display: block;
  border: none;
}

.sort-dropdown__link:hover,
.sort-dropdown__link:focus {
  color: #ffffff;
  background-color: #1e90ff;
}